@model Course

@{
   SelectList DepartmentOptions = new SelectList(ViewBag.Departments, "Id", "Name");
}


<form method="post">

   <div>
      <label asp-for="Name"></label>
      <input asp-for="Name" type="text" class="form-control" />
      <span asp-validation-for="Name"></span>
   </div>

   <div>
      <label asp-for="Degree"></label>
      <input asp-for="Degree" type="text" class="form-control" />
      <span asp-validation-for="Degree"></span>
   </div>

   <div>
      <label asp-for="MinDegree"></label>
      <input asp-for="MinDegree" type="text" class="form-control" />
      <span asp-validation-for="MinDegree"></span>

   </div>

   <div>
      <select asp-for="DepartmentId" asp-items="DepartmentOptions" class="form-control">
        <option value="0">--Select Department--</option>
      </select>
      <span asp-validation-for="DepartmentId"></span>

   </div>

   <div>
      <input id="Submit" type="submit" value="Edit" class="btn btn-secondary" />
   </div>

</form>

<a asp-action="Index" class="btn btn-secondary">Back</a>